.footer-box {
    width: 100%;
    background-color: var(--color-5);
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box .content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}