:root{
	--color-1:#F6FFFD;
	--color-2:#E9FFFB;
	--color-3:#B2F5EA;
	--color-4:#38B2AC;
	--color-5:#319795;
	--color-6:#1d4044;
	--color-overlay:rgba(29, 64, 68, 0.8);

}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Gowun Dodum', sans-serif;
}

.page-wrapper {
    width: 100%;
    background-color: #fff;
}

.content-wrapper {
	width: 100%;
	padding: 0 20px;
	z-index: 0;
}

.Modal {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin:7.5% auto;
	width: 70%;
	height: 85%;
	max-height:400px;
	background-color: var(--color-1);
	border-radius: 15px;
	padding: 20px;
}

.Modal:focus{
	outline: none;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay);
  }